<!DOCTYPE html>
<html>
  <div>
    <title>Writer</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>
  
  <div class="container-fluid bg-light" style="font-family: 'Avenir', sans-serif;">
    <h1 class="text-left mb-3">Online Messenger</h1>
    <% if user_signed_in? %>
      <%= button_to "Sign out", destroy_user_session_path, method: :delete, class: "btn btn-danger float-right mb-3" %>
    <% end %>
  </div>


  <body>
    <p class="notice"><% notice %></p> 
    <p class="alert"><% alert %></p>
    <%= yield %>
  </body>
</html>
